BasedOnStyle: GNU
AlwaysBreakAfterDefinitionReturnType: All
BreakBeforeBinaryOperators: None
BinPackParameters: false
SpaceAfterCStyleCast: true
PointerAlignment: Right
ColumnLimit: 0
AlignArrayOfStructures: Left
AlignConsecutiveShortCaseStatements:
  Enabled: true
AlignEscapedNewlines: Left
AlignOperands: AlignAfterOperator
BreakBeforeBraces: GNU

# BreakBeforeBraces: Custom
# BraceWrapping:
#   AfterClass: true
#   SplitEmptyFunction: false
#   AfterControlStatement: Always
#   AfterEnum: true
#   AfterFunction: true
#   AfterNamespace: true
#   AfterStruct: true
#   AfterUnion: true
#   AfterExternBlock: true
#   BeforeCatch: true
#   BeforeElse: true
#   BeforeWhile: true
#   IndentBraces: true
#   SplitEmptyRecord: false
#   SplitEmptyNamespace: false
# #  AfterCaseLabel: true

# AlignAfterOpenBracket: AlwaysBreak
# BracedInitializerIndentWidth: 2

# BasedOnStyle: GNU
# ColumnLimit: 240
# AlwaysBreakAfterDefinitionReturnType: All
# BreakBeforeBinaryOperators: None
# BinPackParameters: false
# SpaceAfterCStyleCast: true

# BreakBeforeBraces: GNU  # Applies GNU style brace placement:
# # In function definitions, classes, etc.
# AlignAfterOpenBracket: Align
# AllowShortBlocksOnASingleLine: true
# AllowShortCaseLabelsOnASingleLine: true
# IndentCaseLabels: true
